GROQ_API_KEY=
CLIENT_URL=http://localhost:5173
JWT_SECRET=
JWT_EXPIRE=30d
MONGODB_URI=
PORT=5000
NODE_ENV=development
OPENFDA_API_KEY=
GNEWS_API_KEY=
ML_BASE_URL=http://127.0.0.1:8000
ML_QA_ENDPOINT=
